{% extends "ostracker/base.html" %}

{% block content %}

<h2>Activity from {{start_date|date:"Y-m-d"}} to {{end_date|date:"Y-m-d"}}</h2>

<table id="activity">
<thead>
    <tr>
        <th>Project</th>
        <th>New Open Issues</th>
        <th>New Closed Issues</th>
        <th>New Forks</th>
        <th>New Collaborators</th>
        <th>New Watchers</th>
        <th>New Releases</th>
    </tr>
</thead>
{% for a in activity %}
<tr>
    <td><a href="{% url project a.project %}">{{a.project}}</a></td>
    <td>{{a.new_open_issues}}</td>
    <td>{{a.new_closed_issues}}</td>
    <td>{{a.new_forks}}</td>
    <td>{{a.new_collaborators}}</td>
    <td>{{a.new_watchers}}</td>
    <td>{{a.new_tagged_releases}}</td>
</tr>
{% endfor %}

<tr>
    <td>totals</td>
    <td>{{totals.new_open_issues}}</td>
    <td>{{totals.new_closed_issues}}</td>
    <td>{{totals.new_forks}}</td>
    <td>{{totals.new_collaborators}}</td>
    <td>{{totals.new_watchers}}</td>
    <td>{{totals.new_tagged_releases}}</td>
</tr>
</table>

{% endblock content %}
