{% extends "ostracker/base.html" %}
{% load charthelpers %}

{% block title %}Summary{% endblock %}

{% block content %}
<h2>Summary</h2>

<table>
    <thead>
        <tr><th></th><th>Total</th><th>Last 365 Days</th><th>Last 30 Days</th></tr>
    </thead>
    <tbody>
        <tr><th>Projects</th>
            <td>{{projects_total}}</td>
            <td>{{projects_year}}</td>
            <td>{{projects_month}}</td>
        </tr>
        <tr><th>Issues</th>
            <td>{{issues_total}}</td>
            <td>{{issues_year}}</td>
            <td>{{issues_month}}</td>
        </tr>
    </tbody>
</table>

<table id="projects">
<thead>
<tr>
    <th>Name</th>
    <th>Created Date</th>
    <th>Latest Commit</th>
    <th>Language</th>
    <th>Open Issues</th>
    <th>Closed Issues</th>
    <th>Forks</th>
    <th>Watchers</th>
    <th>Collaborators</th>
    <th>Tags</th>
</tr>
</thead>
<tbody>
{% for proj in projects %}
<tr>
    <td><a href="{% url project proj.name %}">{{proj.name}}</a></td>
    <td>{{proj.created_date}}</td>
    <td>{{proj.latest_commit}}</td>
    <td>{{proj.language}}</td>
    <td>{{proj.latest_status.open_issues}}</td>
    <td>{{proj.latest_status.closed_issues}}</td>
    <td>{{proj.latest_status.forks}}</td>
    <td>{{proj.latest_status.watchers}}</td>
    <td>{{proj.latest_status.collaborators}}</td>
    <td>{{proj.latest_status.tagged_releases}}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
    $(document).ready(function() {
        $('#projects').tablesorter();
    });
</script> 
{% endblock extrahead %}
