{% extends "ostracker/base.html" %}
{% load ostracker_tags %}

{% block title %}ostracker{% endblock %}

{% block content %}

<h2>Summary</h2>

{% scaled_bar_chart 400 200 by_lang %}

{% bug_chart 400 200 issues %}

{% line_chart 400 200 people %}


<h2>All Projects</h2>

<table id="projects">
<thead>
<tr>
    <th>Name</th>
    <th>Created&nbsp;Date</th>
    <th>Latest&nbsp;Commit</th>
    <th>Open&nbsp;Issues</th>
    <th>Closed&nbsp;Issues</th>
    <th>Forks</th>
    <th>Watchers</th>
    <th>Collaborators</th>
    <th>Tags</th>
</tr>
</thead>
<tbody>
{% for proj in projects %}
<tr class="{% cycle 'even' 'odd' %}">
    <td><a href="{% url ostracker_project proj.name %}">{{proj.name}}</a></td>
    <td>{{proj.created_date}}</td>
    <td>{{proj.latest_commit}}</td>
    <td class="sparkline">
        {% render_proj_variable proj.open_issues %}
    </td>
    <td class="sparkline">
        {% render_proj_variable proj.closed_issues %}
    </td>
    <td class="sparkline">
        {% render_proj_variable proj.forks %}
    </td>
    <td class="sparkline">
        {% render_proj_variable proj.watchers %}
    </td>
    <td class="sparkline">
        {% render_proj_variable proj.collaborators %}
    </td>
    <td class="sparkline">
        {% render_proj_variable proj.tagged_releases %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}

{% block extrahead %}
{{ block.super }}

<style type="text/css">
    td.sparkline { min-width: 100px; }
    td.sparkline img { float: left; }
    td .delta { color: red; }
</style>

<script type="text/javascript">
    function textExtractor(node) {
        return node.innerHTML.split('<')[0]
    }
    $(document).ready(function() {
            $('#projects').tablesorter({'textExtraction': textExtractor});
        });
</script>

{% endblock extrahead %}
