{% extends "ostracker/base.html" %}
{% load charthelpers %}

{% block title %}Summary{% endblock %}

{% block content %}
<h2>Summary</h2>

<table>
    <thead>
        <tr><th></th><th>Total</th><th>Last 365 Days</th><th>Last 30 Days</th></tr>
    </thead>
    <tbody>
        <tr><th>Projects</th>
            <td>{{projects_total}}</td>
            <td>{{projects_year}}</td>
            <td>{{projects_month}}</td>
        </tr>
<!--        <tr><th>Issues</th>
            <td>{{issues_total}}</td>
            <td>{{issues_year}}</td>
            <td>{{issues_month}}</td>
        </tr>-->
    </tbody>
</table>

<table id="projects">
<thead>
<tr>
    <th>Name</th>
    <th>Created Date</th>
    <th>Latest Commit</th>
    <th>Language</th>
    <th>Open Issues</th>
    <th>Closed Issues</th>
    <th>Forks</th>
    <th>Watchers</th>
    <th>Collaborators</th>
    <th>Tags</th>
</tr>
</thead>
<tbody>
{% for proj in projects %}
<tr>
    <td><a href="{% url project proj.name %}">{{proj.name}}</a></td>
    <td>{{proj.created_date}}</td>
    <td>{{proj.latest_commit}}</td>
    <td>{{proj.language}}</td>
    <td class="sparkline">
        {{proj.open_issues|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.open_issues|join:","}}&chds=0,{{proj.open_issues_max}}">
    </td>
    <td class="sparkline">
        {{proj.closed_issues|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.closed_issues|join:","}}&chds=0,{{proj.closed_issues_max}}">
    </td>
    <td class="sparkline">
        {{proj.forks|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.forks|join:","}}&chds=0,{{proj.forks_max}}">
    </td>
    <td class="sparkline">
        {{proj.watchers|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.watchers|join:","}}&chds=0,{{proj.watchers_max}}">
    </td>
    <td class="sparkline">
        {{proj.collaborators|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.collaborators|join:","}}&chds=0,{{proj.collaborators_max}}">
    </td>
    <td class="sparkline">
        {{proj.tagged_releases|last}}
        <img src="http://chart.apis.google.com/chart?chs=80x20&cht=ls&chco=000099&chf=bg,s,00000000&chls=1,0,0&chd=t:{{proj.tagged_releases|join:","}}&chds=0,{{proj.tagged_releases_max}}">
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}

{% block extrahead %}
{{ block.super }}

<style type="text/css">
    td.sparkline { min-width: 100px; }
    td.sparkline img { float: left; }
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('#projects').tablesorter();
    });
</script> 
{% endblock extrahead %}
