{% extends "base.html" %}
{% load ostracker_tags %}

{% block title %} {{project.name}} {% endblock %}
{% block content %}
    <h2 id="project_title">{{project.name}}</h2>
    <div id="project_body">{{project.description}}</div>

    <div id="project_meta">
        <h3> Project Statistics </h3>
        {% line_chart 400 200 people %}
    </div>

    {% if project.issues.count %}
    <div id="issues">
        <h3> Issues </h3>

        {% bug_chart 400 200 issues %}

        <table>
            <tr><th>Title</th><th>State</th></tr>
            {% for issue in project.issues.all.select_related %}
                <tr>
                    <td><a href="{{issue.get_host_url}}">{{issue.title}}</a></td><td>{{issue.state}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if project.commits.count %}
    <div id="commits">
    </div>
    {% endif %}

{% endblock %}
