{% extends "ostracker/base.html" %}
{% load charthelpers %}

{% block title %}Summary{% endblock %}

{% block content %}
<h1>Summary</h1>

<div id="languages" style="width: 400px; height:300px;"> </div>

<div id="timeline" style="width: 600px; height:300px;"> </div>

<a href="{% url projects %}">view all projects</a>

<div id="issues" style="width: 600px; height:300px;"> </div>

<div id="people" style="width: 600px; height:300px;"> </div>
{% endblock content %}

{% block extrahead %}
{{ block.super }}
<script>
$(document).ready(function() {

var piechart = new Highcharts.Chart({
   chart: { renderTo: 'languages', },
   title: { text: 'Projects by Language' },
   plotArea: { borderWidth: null, backgroundColor: null },
   tooltip: {
       formatter: function() {
           console.log(this);
         return '<b>'+ this.point.name +'</b>: '+ this.y +' projects';
      }
   },
   plotOptions: {
      pie: {
         dataLabels: {
            enabled: true, color: 'white',
            formatter: function() {
                if (this.y > 5) {
                    return this.point.name;
                }
            },
         }
      }
   },
   legend: { layout: 'vertical', style: { left: 'auto', bottom: 'auto', } },
   credits: { enabled: false },
   series: [{
      type: 'pie', name: 'language share',
      data: [
      {% for lang, num in by_lang.items %}
      ["{{lang}}", {{num}}] {% if not forloop.last %} , {% endif %}
      {% endfor %}
      ]
   }]
});

var chart = new Highcharts.Chart({
   chart: { renderTo: 'timeline', zoomType: 'x' },
   title: { text: 'Projects' },
   xAxis: {
      title: { text: 'Month' },
      type: 'datetime',
      maxZoom: 60*24*3600000
   },
   yAxis: {
      title: { text: 'Projects' },
      min: 0
   },
   legend: { enabled: false },
   credits: { enabled: false },
   tooltip: {
      formatter: function() {
         return '<b>'+ (this.point.name || this.series.name) +'</b><br/>'+ Highcharts.dateFormat("%b '%y", this.x) + ': ' + this.y + ' projects';
      }
   },
   series: [{
       name: 'Projects',
       type: 'area',
       data: [
          {% for o in cumulative %}
          [{{o.0|jsdate}}, {{o.1}}]
          {% if not forloop.last %} , {% endif %}
          {% endfor %}
       ]
    }]
});

var chart = new Highcharts.Chart({
   chart: { renderTo: 'issues', defaultSeriesType: 'area' },
   title: { text: 'Issues' },
   credits: { enabled: false },
   xAxis: {
      categories: {{status_dates|safe}},
      tickmarkPlacement: 'on',
      title: {
         enabled: false
      }
   },
   yAxis: {
      title: { enabled: false },
      labels: {
         formatter: function() {
            return this.value;
         }
      }
   },
   tooltip: {
      formatter: function() {
         return '<b>'+ this.series.name +'</b><br/>'+
             this.x +': '+ Highcharts.numberFormat(this.y, 0, ',');
      }
   },
   credits: { enabled: false },
   plotOptions: {
      area: {
         stacking: 'normal',
         lineColor: '#666666',
         lineWidth: 1,
         marker: {
            lineWidth: 1,
            lineColor: '#666666'
         }
      }
   },
   series: [
       { name: 'open issues', data: {{open_issues}} },
       { name: 'closed issues', data: {{closed_issues}} }
   ]
});

var chart2 = new Highcharts.Chart({
   chart: { renderTo: 'people', defaultSeriesType: 'line', margin: [50, 150, 60, 80] },
   title: { text: 'People', style: { margin: '10px 100px 0 0' } },
   xAxis: { categories: {{status_dates|safe}}, title: { text: 'Month' } },
   yAxis: { plotLines: [{ value: 0, width: 1, color: '#808080' }], title: { enabled: false } },
   tooltip: {
      formatter: function() {
        return '<b>'+ this.series.name +'</b><br/>'+ this.x +': '+ this.y;
      }
   },
   legend: { layout: 'vertical', style: { left: 'auto', bottom: 'auto', right: '10px', top: '100px' } },
   credits: { enabled: false },
   series: [
       { name: 'forks', data: {{forks}} },
       { name: 'watchers', data: {{watchers}} },
       { name: 'collaborators', data: {{collaborators}} }
   ]
});

});

</script>
{% endblock extrahead %}
